services:
  pgsql:
    image: 'postgres:18-alpine'
    ports:
      - '${FORWARD_DB_PORT:-5432}:5432'
    environment:
      PGPASSWORD: '${DB_PASSWORD:-secret}'
      POSTGRES_DB: '${DB_DATABASE}'
      POSTGRES_USER: '${DB_USERNAME}'
      POSTGRES_PASSWORD: '${DB_PASSWORD:-secret}'
    volumes:
      - pgsql:/var/lib/postgresql
    networks:
      - localnet
    healthcheck:
      test:
        [ "CMD", "pg_isready -q -d ${DB_DATABASE} -U ${DB_USERNAME}" ]
      retries: 3
      timeout: 5s

  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - localnet

networks:
  localnet:
    driver: bridge

volumes:
  pgsql:
    name: bill_pgsql
    external: true
